<header>
  <h3>New Comment</h3>
</header>

<%= simple_form_for [ticket, comment] do |f| %>
  <%= f.input :text %>
  <% if policy(ticket).change_state? %>
    <%= f.association :state %>
  <% end %>
  <%# <% if policy(ticket).tag? %1> %>
  <%#   <%= render "tags/form", f: f %1> %>
  <%# <% end %1> %>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
